<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <title>Edit lesson</title>
</head>
<div th:include="header :: header"></div>
<body class="text-center">
<main class="cover-container mx-auto p-3 flex-column">
  <h2>Edit lesson with id <span th:text="${lesson.id}"></span></h2>
  <form class="container w-50 mt-5" method="post" th:object="${lesson}">
    <div class="form-row align-item-center">
      <div class="form-group col">
        <label for="lessonName">Name</label>
      </div>
      <div class="form-group col">
        <input name="name" type="text" th:value="${lesson.name}" id="lessonName" th:field="*{name}" placeholder="Name">
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">firstName error</p>
      </div>
    </div>
    <div class="form-row align-item-center">
      <div class="form-group col">
        <label for="teacherId">Teacher Id</label>
      </div>
      <div class="form-group col">
        <input name="teacherId" type="number" th:value="${lesson.teacherId}" id="teacherId" th:field="*{teacherId}" placeholder="Teacher Id">
        <p class="text-danger" th:if="${#fields.hasErrors('teacherId')}" th:errors="*{teacherId}">teacher error</p>
      </div>
    </div>
    <div class="form-row align-item-center">
      <div class="form-group col">
        <label for="lessonGroupId">Group id</label>
      </div>
      <div class="form-group col">
        <input name="groupId" type="number" th:value="${lesson.groupId}" id="lessonGroupId" th:field="*{groupId}" placeholder="Group id">
        <p class="text-danger" th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}">group error</p>
      </div>
    </div>
    <div class="form-row align-item-center">
      <div class="form-group col">
        <label for="time">Time</label>
      </div>
      <div class="form-group col">
        <input name="time" type="datetime-local" th:value="${lesson.time}" th:field="*{time}" id="time">
        <p class="text-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">time error</p>
      </div>
    </div>
    <div class="form-row align-item-center">
      <div class="form-group col">
        <label for="audience">Audience</label>
      </div>
      <div class="form-group col">
        <input name="audience" type="text" th:value="${lesson.audience}" id="audience" th:field="*{audience}" placeholder="Audience">
        <p class="text-danger" th:if="${#fields.hasErrors('audience')}" th:errors="*{audience}">audience error</p>
      </div>
    </div>
    <h6 class="text-danger" th:text="${danger_message}"></h6>
    <button type="submit" class="btn btn-outline-success mx-3">Send changes</button>
  </form>

  <a th:href="@{/lessons/delete/{lessonId}(lessonId=${lesson.id})}" class="btn btn-outline-danger mx-3 mt-4" role="button" aria-pressed="true">Delete lesson</a>

</main>

</body>
</html>