<!DOCTYPE html>
<html lang="en">

<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <h2 class="navbar-brand">University</h2>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/groups/all">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students/all">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teachers/all">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lessons/all">Lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule/">Schedule</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

</html>